[[이유한님] 캐글 코리아 캐글 스터디 커널 커리큘럼](https://kaggle-kr.tistory.com/32)

[2nd level. Porto Seguro’s Safe Driver Prediction](https://www.kaggle.com/c/porto-seguro-safe-driver-prediction)  
'#'은 wonder1ng 각주  
표기가 없거나 '##~'은 원본 각주(혹은 코드)

[Data Preparation & Exploration](https://www.kaggle.com/code/bertcarremans/data-preparation-exploration/notebook)

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
# from sklearn.preprocessing import Imputer 변경된 듯
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import VarianceThreshold, SelectFromModel
from sklearn.utils import shuffle
from sklearn.ensemble import RandomForestClassifier

# pd.set_option('display.max_columns', 100)

## Data at first sight
Here is an excerpt of the the data description for the competition:  
  
- Features that belong to similar groupings are tagged as such in the feature names (e.g., ind, reg, car, calc).
- Feature names include the postfix bin to indicate binary features and cat to indicate categorical features.
- Features without these designations are either continuous or ordinal.
- Values of -1 indicate that the feature was missing from the observation.
- The target columns signifies whether or not a claim was filed for that policy holder.
   
Ok, that's important information to get us started. Let's have a quick look at the first and last rows to confirm all of this.  
  
#### DeeL 번역
다음은 대회에 대한 데이터 설명의 발췌문입니다:  
  
- 유사한 그룹에 속하는 피처는 피처 이름에 해당 그룹으로 태그가 지정됩니다(예: ind, reg, car, calc).
- 특징 이름에는 이진 특징을 나타내는 최종 추가 bin과 범주형 특징을 나타내는 cat이 포함됩니다.
- 이러한 지정이 없는 특징은 연속형 또는 서수형입니다.
- 값이 -1이면 해당 특징이 관찰에서 누락되었음을 나타냅니다.
- 대상 열은 해당 보험 계약자에 대한 보험금 청구가 접수되었는지 여부를 나타냅니다.
   
자, 이제 시작하기 위한 중요한 정보입니다. 이 모든 것을 확인하기 위해 첫 번째 행과 마지막 행을 간단히 살펴보겠습니다.

In [12]:
train = pd.read_csv('./input/porto-seguro-safe-driver-prediction/train.csv')
test = pd.read_csv('./input/porto-seguro-safe-driver-prediction/test.csv')
train.head()

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,...,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,...,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,...,4,2,7,7,0,1,1,0,1,0
3,16,0,0,1,2,0,0,1,0,0,...,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,...,3,1,1,3,0,0,0,1,1,0

In [13]:
train.tail()

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
595207,1488013,0,3,1,10,0,0,0,0,0,...,4,1,9,6,0,1,1,0,1,1
595208,1488016,0,5,1,3,0,0,0,0,0,...,4,1,3,8,1,0,1,0,1,1
595209,1488017,0,1,1,10,0,0,1,0,0,...,3,2,2,6,0,0,1,0,0,0
595210,1488021,0,5,2,3,1,0,0,0,1,...,4,1,4,2,0,1,1,1,0,0
595211,1488027,0,0,1,8,0,0,1,0,0,...,4,4,3,8,0,1,0,0,0,0

We indeed see the following  
  
- binary variables  
- categorical variables of which the category values are integers  
- other variables with integer or float values  
- variables with -1 representing missing values  
- the target variable and an ID variable

In [15]:
print(train.shape)
train.drop_duplicates() # 중복 값 제거
print(train.shape)
train.info()

(595212, 59)
(595212, 59)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595212 entries, 0 to 595211
Data columns (total 59 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              595212 non-null  int64
 1   target          595212 non-null  int64
 2   ps_ind_01       595212 non-null  int64
 3   ps_ind_02_cat   595212 non-null  int64
 4   ps_ind_03       595212 non-null  int64
 5   ps_ind_04_cat   595212 non-null  int64
 6   ps_ind_05_cat   595212 non-null  int64
 7   ps_ind_06_bin   595212 non-null  int64
 8   ps_ind_07_bin   595212 non-null  int64
 9   ps_ind_08_bin   595212 non-null  int64
 10  ps_ind_09_bin   595212 non-null  int64
 11  ps_ind_10_bin   595212 non-null  int64
 12  ps_ind_11_bin   595212 non-null  int64
 13  ps_ind_12_bin   595212 non-null  int64
 14  ps_ind_13_bin   595212 non-null  int64
 15  ps_ind_14       595212 non-null  int64
 16  ps_ind_15       595212 non-null  int64
 17  ps_ind_16_bin   595212 non-null  int64
 18  ps_ind_17_bin   595212 non-null  int64
 19  ps_ind_18_bin   595212 non-null  int64
 20  ps_reg_01       595212 non-null  float64
 21  ps_reg_02       595212 non-null  float64
 22  ps_reg_03       595212 non-null  float64
 23  ps_car_01_cat   595212 non-null  int64
 24  ps_car_02_cat   595212 non-null  int64
 25  ps_car_03_cat   595212 non-null  int64
 26  ps_car_04_cat   595212 non-null  int64
 27  ps_car_05_cat   595212 non-null  int64
 28  ps_car_06_cat   595212 non-null  int64
 29  ps_car_07_cat   595212 non-null  int64
 30  ps_car_08_cat   595212 non-null  int64
 31  ps_car_09_cat   595212 non-null  int64
 32  ps_car_10_cat   595212 non-null  int64
 33  ps_car_11_cat   595212 non-null  int64
 34  ps_car_11       595212 non-null  int64
 35  ps_car_12       595212 non-null  float64
 36  ps_car_13       595212 non-null  float64
 37  ps_car_14       595212 non-null  float64
 38  ps_car_15       595212 non-null  float64
 39  ps_calc_01      595212 non-null  float64
 40  ps_calc_02      595212 non-null  float64
 41  ps_calc_03      595212 non-null  float64
 42  ps_calc_04      595212 non-null  int64
 43  ps_calc_05      595212 non-null  int64
 44  ps_calc_06      595212 non-null  int64
 45  ps_calc_07      595212 non-null  int64
 46  ps_calc_08      595212 non-null  int64
 47  ps_calc_09      595212 non-null  int64
 48  ps_calc_10      595212 non-null  int64
 49  ps_calc_11      595212 non-null  int64
 50  ps_calc_12      595212 non-null  int64
 51  ps_calc_13      595212 non-null  int64
 52  ps_calc_14      595212 non-null  int64
 53  ps_calc_15_bin  595212 non-null  int64
 54  ps_calc_16_bin  595212 non-null  int64
 55  ps_calc_17_bin  595212 non-null  int64
 56  ps_calc_18_bin  595212 non-null  int64
 57  ps_calc_19_bin  595212 non-null  int64
 58  ps_calc_20_bin  595212 non-null  int64
dtypes: float64(10), int64(49)
memory usage: 267.9 MB

In [16]:
print(test.shape)
train.drop_duplicates() # 중복 값 제거
print(test.shape)
test.info()

(892816, 58)
(892816, 58)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892816 entries, 0 to 892815
Data columns (total 58 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              892816 non-null  int64
 1   ps_ind_01       892816 non-null  int64
 2   ps_ind_02_cat   892816 non-null  int64
 3   ps_ind_03       892816 non-null  int64
 4   ps_ind_04_cat   892816 non-null  int64
 5   ps_ind_05_cat   892816 non-null  int64
 6   ps_ind_06_bin   892816 non-null  int64
 7   ps_ind_07_bin   892816 non-null  int64
 8   ps_ind_08_bin   892816 non-null  int64
 9   ps_ind_09_bin   892816 non-null  int64
 10  ps_ind_10_bin   892816 non-null  int64
 11  ps_ind_11_bin   892816 non-null  int64
 12  ps_ind_12_bin   892816 non-null  int64
 13  ps_ind_13_bin   892816 non-null  int64
 14  ps_ind_14       892816 non-null  int64
 15  ps_ind_15       892816 non-null  int64
 16  ps_ind_16_bin   892816 non-null  int64
 17  ps_ind_17_bin   892816 non-null  int64
 18  ps_ind_18_bin   892816 non-null  int64
 19  ps_reg_01       892816 non-null  float64
 20  ps_reg_02       892816 non-null  float64
 21  ps_reg_03       892816 non-null  float64
 22  ps_car_01_cat   892816 non-null  int64
 23  ps_car_02_cat   892816 non-null  int64
 24  ps_car_03_cat   892816 non-null  int64
 25  ps_car_04_cat   892816 non-null  int64
 26  ps_car_05_cat   892816 non-null  int64
 27  ps_car_06_cat   892816 non-null  int64
 28  ps_car_07_cat   892816 non-null  int64
 29  ps_car_08_cat   892816 non-null  int64
 30  ps_car_09_cat   892816 non-null  int64
 31  ps_car_10_cat   892816 non-null  int64
 32  ps_car_11_cat   892816 non-null  int64
 33  ps_car_11       892816 non-null  int64
 34  ps_car_12       892816 non-null  float64
 35  ps_car_13       892816 non-null  float64
 36  ps_car_14       892816 non-null  float64
 37  ps_car_15       892816 non-null  float64
 38  ps_calc_01      892816 non-null  float64
 39  ps_calc_02      892816 non-null  float64
 40  ps_calc_03      892816 non-null  float64
 41  ps_calc_04      892816 non-null  int64
 42  ps_calc_05      892816 non-null  int64
 43  ps_calc_06      892816 non-null  int64
 44  ps_calc_07      892816 non-null  int64
 45  ps_calc_08      892816 non-null  int64
 46  ps_calc_09      892816 non-null  int64
 47  ps_calc_10      892816 non-null  int64
 48  ps_calc_11      892816 non-null  int64
 49  ps_calc_12      892816 non-null  int64
 50  ps_calc_13      892816 non-null  int64
 51  ps_calc_14      892816 non-null  int64
 52  ps_calc_15_bin  892816 non-null  int64
 53  ps_calc_16_bin  892816 non-null  int64
 54  ps_calc_17_bin  892816 non-null  int64
 55  ps_calc_18_bin  892816 non-null  int64
 56  ps_calc_19_bin  892816 non-null  int64
 57  ps_calc_20_bin  892816 non-null  int64
dtypes: float64(10), int64(48)
memory usage: 395.1 MB

We are missing one variable in the test set, but this is the target variable. So that's fine.  
Let's now invesigate how many variables of each type we have.  
  
So later on we can create dummy variables for the 14 categorical variables. The bin variables are already binary and do not need dummification.

## Metadata
To facilitate the data management, we'll store meta-information about the variables in a DataFrame. This will be helpful when we want to select specific variables for analysis, visualization, modeling, ...  
  
Concretely we will store:  
- role: input, ID, target
- level: nominal, interval, ordinal, binary
- keep: True or False
- dtype: int, float, str

In [23]:
data = []
for f in train.columns:
    # Defining the role
    if f=='target': 
        role = 'target'
    elif f=='id':
        role = 'id'
    else:
        role = 'input'

    # Defining the level
    if 'bin' in f or f == 'target':
        level = 'binary'
    elif 'cat' in f or f == 'id':
        level = 'nominal'
    elif train[f].dtype==float:
        level = 'interval'
    elif train[f].dtype==int:
        level = 'ordinal'

    # Initialize keep to True for all variables except for id
    keep = False if f=='id' else True

    # Defining the data type
    dtype = train[f].dtype

    # Creating a Dict that contains all the metadata for the variable
    f_dict = {
        'varname': f,
        'role': role,
        'level': level,
        'keep': keep,
        'dtype': dtype
    }
    data.append(f_dict)

meta = pd.DataFrame(data=data, columns=['varname', 'role', 'level', 'keep', 'dtype'])
# meta = pd.DataFrame(data=data, columns=list(f_dict.keys()))
meta.set_index('varname', inplace=True)
meta

                  role     level   keep    dtype
varname
id                  id   nominal  False    int64
target          target    binary   True    int64
ps_ind_01        input    binary   True    int64
ps_ind_02_cat    input   nominal   True    int64
ps_ind_03        input   nominal   True    int64
ps_ind_04_cat    input   nominal   True    int64
ps_ind_05_cat    input   nominal   True    int64
ps_ind_06_bin    input    binary   True    int64
ps_ind_07_bin    input    binary   True    int64
ps_ind_08_bin    input    binary   True    int64
ps_ind_09_bin    input    binary   True    int64
ps_ind_10_bin    input    binary   True    int64
ps_ind_11_bin    input    binary   True    int64
ps_ind_12_bin    input    binary   True    int64
ps_ind_13_bin    input    binary   True    int64
ps_ind_14        input    binary   True    int64
ps_ind_15        input    binary   True    int64
ps_ind_16_bin    input    binary   True    int64
ps_ind_17_bin    input    binary   True    int64
ps_ind_18_bin    input    binary   True    int64
ps_reg_01        input  interval   True  float64
ps_reg_02        input  interval   True  float64
ps_reg_03        input  interval   True  float64
ps_car_01_cat    input   nominal   True    int64
ps_car_02_cat    input   nominal   True    int64
ps_car_03_cat    input   nominal   True    int64
ps_car_04_cat    input   nominal   True    int64
ps_car_05_cat    input   nominal   True    int64
ps_car_06_cat    input   nominal   True    int64
ps_car_07_cat    input   nominal   True    int64
ps_car_08_cat    input   nominal   True    int64
ps_car_09_cat    input   nominal   True    int64
ps_car_10_cat    input   nominal   True    int64
ps_car_11_cat    input   nominal   True    int64
ps_car_11        input   nominal   True    int64
ps_car_12        input  interval   True  float64
ps_car_13        input  interval   True  float64
ps_car_14        input  interval   True  float64
ps_car_15        input  interval   True  float64
ps_calc_01       input  interval   True  float64
ps_calc_02       input  interval   True  float64
ps_calc_03       input  interval   True  float64
ps_calc_04       input  interval   True    int64
ps_calc_05       input  interval   True    int64
ps_calc_06       input  interval   True    int64
ps_calc_07       input  interval   True    int64
ps_calc_08       input  interval   True    int64
ps_calc_09       input  interval   True    int64
ps_calc_10       input  interval   True    int64
ps_calc_11       input  interval   True    int64
ps_calc_12       input  interval   True    int64
ps_calc_13       input  interval   True    int64
ps_calc_14       input  interval   True    int64
ps_calc_15_bin   input    binary   True    int64
ps_calc_16_bin   input    binary   True    int64
ps_calc_17_bin   input    binary   True    int64
ps_calc_18_bin   input    binary   True    int64
ps_calc_19_bin   input    binary   True    int64
ps_calc_20_bin   input    binary   True    int64

In [24]:
pd.DataFrame({'count': meta.groupby(['role', 'level'])['role'].size()}).reset_index()

     role     level  count
0      id   nominal      1
1   input    binary     20
2   input  interval     21
3   input   nominal     16
4  target    binary      1

## Descriptive statistics
We can also apply the describe method on the dataframe. However, it doesn't make much sense to calculate the mean, std, ... on categorical variables and the id variable. We'll explore the categorical variables visually later.  
  
Thanks to our meta file we can easily select the variables on which we want to compute the descriptive statistics. To keep things clear, we'll do this per data type.  

#### DeepL 번역
데이터 프레임에 설명 방법을 적용할 수도 있습니다. 그러나 범주형 변수와 ID 변수에 대해 평균, 표준편차, ...를 계산하는 것은 그다지 의미가 없습니다. 범주형 변수는 나중에 시각적으로 살펴보겠습니다.  
  
메타 파일 덕분에 설명적 통계를 계산할 변수를 쉽게 선택할 수 있습니다. 명확하게 하기 위해 데이터 유형별로 이 작업을 수행하겠습니다.